body{
    margin:0 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}
/* *{
    outline: 1px solid red;
} */

/* ----------desktop version starts here---------- */
/* ----------desktop version starts here---------- */

    .member-contain{
        background-color: #F1F1F1;
        padding-left:0px;
        padding-right:0px;
        padding-top: 200px;
        padding-bottom: 9.4rem;
    }
    .member-wrapper{
        width: 100%;
    }
    /* ----DESKTOP MENU PAGE ICON 會員中心----- */
    .member-menu-page-icon-div-ycn{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        display:flex;
        justify-content: left;
    }
    .menu-page-icon{
        width: 200px;
        height: 95px;
        position: relative;
    }
    #memberPageIconBG{
        width: 100%;
        height: 100%;
    }
    #member-page-icon-text{
        position: absolute;
        display:block;
        left: 3rem;
        top: 0.9rem;
        font-size: 26px;
        color: white;
    }

    /*---DESKTOP MENU ICONS---  */

    .member-menu-div-ycn{
        width: 100%;
        margin: 0 auto;
        margin-bottom:73px;
        display:flex;
        justify-content: left;

    }
    div.menu-icon-div{
        width: 6.8rem;
        height: fit-content;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .menu-icon-a{
        width: 100%;
        height: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .menu-icon-a:hover{
        text-decoration: none;
    }

    
    .menu-icon-svg-div-unclicked{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }
    .menu-icon-svg{
        /* display:none; */
        width: 95px;
        height: 95px;
        margin: 0 auto;
    }
    .menu-icon-svg-div-clicked{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }

    .menu-icon-svg-clicked{
        /* display: none; */
        width: 95px;
        height: 95px;
        margin: 0 auto;
    }

    .menu-text{
        width: 100%;
        text-align: center;
        white-space: nowrap;
        margin: 0 auto;
        margin-top:3px;
        font-size: 22px;
        color: #003366;
        letter-spacing: 2px;
    }
    /* ---menu icon clicking effect-- */

    .menu-icon-svg-div-clicked {
        display: none;
    }
    .menu-icon-svg-div-unclicked{
        display: block;
    }

    .active .menu-icon-svg-div-clicked {
        display: block;
    }
    .active .menu-icon-svg-div-unclicked{
        display: none;
    }

    /* ------DESKTOP Friendlist ------ */
    .friendlist-contain-ycn{
        width: 100%;
        margin-top: 1.5rem;
        background-color: #ffffff;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 1px 2px 3px #ccc;
        padding-bottom: 1.5rem;
        padding-left: 1rem;
        padding-right:1rem;
    }
    .friendlist-wrapper{
        width: 100%;
        margin: 0 0;
    }
    .activePagination{
        background-color: #FF7300;
    }

    .friendlist-card-div{
        width: 8rem;
        height: fit-content;
        /* white-space: nowrap; */
        padding: 0px;
        padding-left:0.5rem;
        padding-right:0.5rem;
        margin-top: 3rem;

    }
    .friendlist-card-pic{
        width: 100%;
        height: 22.5rem;
        margin: 0 0;
        position: relative;
    }
    .member-pic{
        width: 100%;
        height: 100%;
    }
    
    span.friendlist-age, span.friendlist-level{
        font-size: 1rem;
        color: #003366;
    }
    .friendlist-card-name-div{
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        justify-content: center;
        color:#003366;
        font-size: 1.4rem;

    }

    .friendlist-card-location-div{
        width:4rem;
        height: 2rem;
        padding-left:0.22rem;
        padding-right:0.22rem;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        margin: 0 0;
        background-color: #FF7300;
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0.3rem;
        left:0.5rem;
    }
    span.friendlist-location-text{
        margin: 0 auto;
        color:#ffffff;
        font-size: 1rem;
        
    }
    .friendlist-card-info{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }
    span.friendlist-age{
        margin-right: 0.5rem;
    }
    span.friendlist-level{
        margin-left: 0.1rem;
    }
    .friendlist-card-message{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        margin-top: 0.4rem;
        display: flex;
        justify-content: center;
    }
    .friendlist-message-a{
        width: fit-content;
        height: fit-content;
    }

    .message-icon-svg{
        width: 1.68rem;
        height: 1.3rem;
    }

/* -----!!! Friend profile-------- */
    #friend-profile-div{
        margin: 0 auto;
        height: 100vh;
        overflow: scroll;
    }


/* ---MOBILE version starts here--- */

@media screen and (max-width: 576px){
    .member-contain{
        background-color: #F1F1F1;
        padding-left:0px;
        padding-right:0px;
        padding-top: 100px;
        padding-bottom: 2rem;


    }
    /* .member-wrapper{
        width: 100%;
    } */

    /* ----MOBILE MENU PAGE ICON 會員中心----- */
    .member-menu-page-icon-div-ycn{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        display:flex;
        justify-content: left;
    }
    .menu-page-icon{
        width: 120px;
        height: 52px;
        position: relative;
        background-size: contain;
        text-align: center;
        padding-top:0.4rem;
    }
    #memberPageIconBG{
        width: 100%;
        height: 100%;
    }
    #member-page-icon-text{
        display:block;
        position: absolute;
        left:1.8rem;
        top:0.65rem;
        font-size: 16px;
        color: white;
    }
    
    /* ---- MOBILE Menu Icons--- */
    .member-menu-div-ycn{
        width: 100%;
        margin: 0 auto;
        margin-bottom: 22px;
        display:flex;
        justify-content:space-evenly;

    }
    div.menu-icon-div{
        width: fit-content;
        height: fit-content;
        margin: 0 0;

        /* margin-left: 0.1rem;
        margin-right: 0.1rem; */
        /* font-size: 1rem; */
    }
    .menu-icon-a{
        width: fit-content;
        height: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .menu-icon-a:hover{
        text-decoration: none;
    }

    .menu-icon-svg-div-unclicked{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }
    .menu-icon-svg{
        width: 48px;
        height: 48px;
        margin: 0 auto;
    }
    .menu-icon-svg-div-clicked{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
    }
    .menu-icon-svg-clicked{
        width: 48px;
        height: 48px;
        margin: 0 auto;
    }
    .menu-icon-svg-div-unclicked{
        display: block;
    }

    .active .menu-icon-svg-div-clicked {
        display: block;
    }
    .active .menu-icon-svg-div-unclicked{
        display: none;
    }

    .menu-text{
        width: 100%;
        text-align: center;
        white-space: nowrap;
        margin: 0 auto;
        margin-top:3px;
        font-size: 14px;
        color: #003366;
    }
    /* ------MOBILE Friendlist ------ */
    .friendlist-contain-ycn{
        width: 100%;
        margin-top: 1.4rem;
        background-color: #ffffff;
        border-radius: 15px 15px 15px 15px;
        box-shadow: 1px 2px 3px #ccc;
        padding-top: 1rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right:1rem;
    }
    .friendlist-wrapper{
        width: 100%;
        margin: 0 0;
    }

    .friendlist-card-div{
        width: 8rem;
        height: fit-content;
        /* white-space: nowrap; */
        padding: 0px;
        padding-left:0.3rem;
        padding-right:0.3rem;
        margin-top: 1.3rem;


    }
    .friendlist-card-pic{
        width: 100%;
        height: 11.2rem;
        margin: 0 0;
        background: center center no-repeat url('/img/testProfileimg.jpg');
        background-size: cover;
        padding-top: 0.2rem;
        padding-left: 0.2rem;
    }
    
    span.friendlist-age, span.friendlist-level{
        font-size: 0.9rem;
        color: #003366;
    }
    .friendlist-card-name-div{
        width: 100%;
        height: fit-content;
        margin: 0 auto;
        padding: 0px;
        display: flex;
        justify-content: center;
        color:#003366;

    }

    .friendlist-card-location-div{
        width:fit-content;
        height: fit-content;
        padding-left:0.22rem;
        padding-right:0.22rem;
        padding-top: 0.05rem;
        padding-bottom: 0.05rem;
        margin: 0 0;
        background-color: #FF7300;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    span.friendlist-location-text{
        margin: 0 auto;
        color:#ffffff;
        font-size: 0.88rem;
        
    }
    .friendlist-card-info{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
    }
    span.friendlist-age{
        margin-right: 0.5rem;
    }
    span.friendlist-level{
        margin-left: 0.1rem;
    }
    .friendlist-card-message{
        width: fit-content;
        height: fit-content;
        margin: 0 auto;
        margin-top: 0.1rem;
        display: flex;
        justify-content: center;
    }
    .friendlist-message-a{
        width: fit-content;
        height: fit-content;
    }

    .message-icon-svg{
        width: 1.2rem;
        height: 1.1rem;
    }

}
    



